.logo {
    width: 105px;
    object-fit: contain;
}

.navbar {
    background-color: #131921;
}

.searchForm {
    position: absolute;
    text-align: center;
    margin: 20rem;
    float: none;

}

/* width: 55vw; */
/* margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important
} */


/* @media (min-width: 650px) {
    .searchForm {
        display: none;
        display: block;
    }
} */

/* .button__header {
    margin-left: 220px;
    margin-top: 20px;
    font-size: 27px;
    border: none;

} */