.logo {
    width: 105px;
    object-fit: contain;
}

.navbar {
    background-color: #131921;
}




.navF {
    display: flex;
    align-items: center;
    top: 0;
    min-width: 1000px;
    z-index: 100;
}

.navbar {
    flex: 1;
    align-items: center;
}

.searchForm {
    display: flex;
    flex: 1;
}

.searchInput {
    border: none;
    width: 100%;
}


/* width: 55vw; */
/* margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important
} */


/* @media (min-width: 650px) {
    .searchForm {
        display: none;
        display: block;
    }
} */

/* .button__header {
    margin-left: 220px;
    margin-top: 20px;
    font-size: 27px;
    border: none;

} */